{% extends 'base.html' %}

{% block content %}
<div class="card mt-4" style="border:2px solid black;">
    <div class="card-body">
        <h4 class="card-text" style="text-align:right;">{{ card.status }}</h4>
        <h5 class="card-title">{{ card.series }} - {{ card.number }}</h5>
        <p class="card-text">Release date: {{ card.release_date | date:"d F Y | G:i"}}</p>
        <p class="card-text">Expiration date: {{ card.expiration_date | date:"d F Y | G:i"}}</p>
        <p class="card-text">Last usage: {{ card.last_usage | date:"d F Y | G:i"}}</p>
        <p class="card-text">Amount: {{ card.amount }}</p>
        {% if card.status == 'not activated' %}
            <a href="{% url 'activate' card.id %}" class="btn btn-primary">Activate card</a>
        {% else %}
            <a href="#" class="btn btn-primary">Extend card validity</a>
        {% endif %}
    </div>
</div>
{% if card.status == 'active' %}
    <form action="{% url 'charge' card.id %}" method="post", style="padding: 10px; border: 2px solid black; ">
        {{ form}}
        {% csrf_token %}
        <button type="submit" class="btn btn-success">Increase amount</button>
    </form>
{% endif %}
{% if card.status == 'active' %}
    <form action="{% url 'buy' card.id %}" method="post" style="margin-top: 10px;">
        {% csrf_token %}
        <button type="submit" class="btn btn-success">Buy something</button>
    </form>
{% endif %}

<a href="{% url 'delete' card.id %}" class="btn btn-danger" style="margin-top: 10px; position: relative; left: 1190px;">Delete card</a>
<h4 style="margin-top: 6px">Card operations</h4>
<div style="border-bottom: 1px solid black; margin-top: 6px;"></div>
{% if data %}
    {% for elements in data %}
       <div style="margin-top: 10px;">
            <h6>{{ elements.time }}</h6>
            <p>Amount: {{ elements.amount }}</p>
            <p>Total balance: {{ elements.total_amount }}</p>
       </div>
       <div style="border-bottom: 1px solid black; margin-top: 5px;"></div>
    {% endfor %}
{% else %}
    <h3>No operations with card yet</h3>
{% endif %}

{% endblock %}